.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  &:hover {
    .menu-header__img {
      visibility: visible;
    }

    .menu-body__button {
      visibility: visible;
    }
  }

  &-header {
    display: flex;
    gap: 11px;

    &__item {
      position: relative;
    }

    &__name {
      margin-bottom: 21px;
    }

    &__img {
      position: absolute;
      right: 0;
      bottom: 15px;
      visibility: hidden;
    }

    &__line {
      background: rgba(0, 0, 0, 0.50);
      height: 1px;
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-left: 10px;
    }

    &__button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &-body {
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    gap: 12px;

    &__toggle {
      cursor: pointer;
    }

    &__button {
      background: none;
      border: none;
      visibility: hidden;
      z-index: 1;
      cursor: pointer;
    }

    &__item--name {
      position: relative;
      display: flex;
      align-items: center;
      gap: 3px;
    }

    &__icon {
      width: 15px;
      height: 15px;
      cursor: pointer;
    }

    &__select {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      align-items: center;
      justify-items: center;
      position: absolute;
      top: 25px;
      width: 200px;
      height: 103px;
      background: #FFFFFF;
      box-shadow: 4px 4px 9px rgba(0, 0, 0, 0.15);
      z-index: 2;

      &-image {
        transition: 0.2s;
        &:hover {
          cursor: pointer;
          opacity: 0.6;
        }
      }
    }

    &__name {
      width: 100px;
    }

    &__id {
      width: 100px;
    }
  }
}

.menu-header__item, .menu-body__item {
  width: 100px;
}

input {
  border: none;
  outline: none;
  &:focus {
    border-bottom: 1px solid black;
  }
}

.menu-body__item--selected {
  background: rgba(81, 81, 81, 0.70);
}
